@using AjaxForm.Models;

@{
    ViewBag.Title = "Session Leads";
}

<div class="sessionWrapper">
    <h2>@ViewBag.Title.</h2>

    <p>Review leads entered this session:</p>

    @{
        if (Session["forms"] != null)
        {
            var listBackFromSession = (IEnumerable<FormModel>)Session["forms"];
            <h4>@ViewBag.listBackFromSession;</h4>
        }
    }

</div>


