@using AjaxForm.Models;

@{
    ViewBag.Title = "Session Leads";
}

<div class="sessionWrapper">
    <h2>@ViewBag.Title.</h2>

    <p>Review leads entered this session:</p>
    @*<p>@HttpContext.Current.Session["forms"].ToString();</p>*@
    <h3>From Session @ViewBag.FromSession</h3>
</div>


