@{
    ViewBag.Title = "Contact";
}

<div class="contactBody">
    <h2>@ViewBag.Title.</h2>

    <address>
        Jeff Longo
        4011 Helena St. NE<br />
        St. Petersburg, FL 33703<br />
        <abbr title="Phone">P:</abbr>
        407.758.7623
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:jeffreylongo@yahoo.com">JeffreyLongo@Yahoo.com</a><br />
        <strong>WebSite:</strong> <a href="http://www.jeffreyplongo.com">www.JeffreyPLongo.com</a>
    </address>
</div>